ul {
  margin: 50px auto;
  width: 700px;
  list-style-type: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

.main__title {
  text-align: center;
}

.post__list-item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100px;
  margin-bottom: 50px;
  padding: 20px 50px;
  border-radius: 10px;
  -webkit-box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
          box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.post__index {
  position: absolute;
  top: -20px;
  left: -20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: lightgreen;
}

.post__title {
  margin: 0;
}

.post__text {
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  white-space: normal;
}

.post__link {
  text-align: center;
  color: cornflowerblue;
}